.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background: radial-gradient(circle, #c9eaff, #a0c0ff, #d8e2f8, #d2e3ee); /* Wyrazisty gradient */
}

.gradient-layer {
  position: absolute;
  width: 250%;
  height: 250%;
  background: radial-gradient(circle, #d4f1ff, #d7e5fa, #bad0ff, #c8deff);
  background-size: 300% 300%;
  filter: blur(60px); /* Widoczny, ale nie przytłaczający */
  animation: animateGradient 10s infinite alternate ease-in-out; /* Płynne przejścia */
}

@keyframes animateGradient {
  0% {
    transform: translate(0%, 0%);
  }
  20% {
    transform: translate(-20%, -10%);
  }
  40% {
    transform: translate(-40%, -20%);
  }
  60% {
    transform: translate(-60%, -30%);
  }
  80% {
    transform: translate(-80%, -40%);
  }
  100% {
    transform: translate(-100%, -50%);
  }
}
